.btn-outline {
    padding: 8px 14px;
    border: 1px solid #000;
    background: #000;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
  }

.basket-icon {
    padding: 0px 0px 4px 5px;
    font-size: 25px;
}